# yii console commands
/yii
/yii_test
/yii_test.bat

/assets
/frontend/config/defines.php
/console/config/defines.php
cert/*
backend/assets/*
backend/attachments/*
backend/images/*
!backend/assets/AppAsset.php
frontend/assets/*
!frontend/assets/AppAsset.php
!frontend/assets/MainAsset.php

/auth.json

# phpstorm project files
.idea

# netbeans project files
nbproject

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/common/config/live-site/
/sql/
/attachments/
/exclude_list.txt
backend/vendor/*
backend/sessions/*
frontend/vendor/*
*/runtime/*
downloads/*
/sessions
.deployables
.metadata
bin/
build/
.classpath
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.project
.settings/
.recommenders
