.qwikmed-backend-logo {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.qwikmed-btn {
    background-color: #4ACCD1;
    border-color: #4ACCD1;
    color:white;
}