
.kwikmed-logo {
    display: inline-flex;
}

.kwikmed-logo-text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: #3fbbc0;
}
.kwikmed-divider {
    border-right: 6px solid black;
}